<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">

        <div fxLayout="row wrap" fxLayoutgap="10px">
          <!--Filtering in Angular-->
          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput id="todo-category-input" placeholder="Filter by category" [(ngModel)]="todoCategory"
              (input)="updateFilter()">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by owner" [(ngModel)]="todoOwner"
              (input)="getTodosFromServer()">
          </mat-form-field>
        </div>






        <div fxLayout="row">
          <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredTodos; else todosError">
          </div>
          <!-- List view -->
          <mat-card id='todo-list'>
            <mat-card-content>
              <mat-nav-list class="todo-nav-list">
                <h3 mat-subheader>Todos</h3>
                <a mat-list-item class="todo-list-items" *ngFor="let todo of this.filteredTodos"
                  [routerLink]="['/todos', todo._id]" class="todo-list-item">
                  <h3 matLine class="todo-list-owner"> {{todo.owner}} </h3>
                  <p matLine class="todo-list-category"> {{todo.category}} </p>
                  <p matLine class="todo-list-status"> {{todo.status}}</p>
                  <p matLine class="todo-list-body">{{todo.body}}</p>
                </a>
              </mat-nav-list>
            </mat-card-content>
          </mat-card>

          <ng-template #todosError>
            <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="todo-error">
              <mat-error>
                There was a problem loading the todos. Possibly the server is down or perhaps there are network
                issues.
              </mat-error>
              <mat-error>
                Please wait a bit and try again or start the server.
              </mat-error>
            </div>
          </ng-template>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
